#body {
    width: 95%;
    margin:auto;
    margin-top: 50px;
}

#bodyCrediti {
    width:100%;
    float: right;
    margin-top: 50px;
}

#ndt {
    float: left;
}

#bie {
    margin-top: 10px;
    float: right;
}

#inputContainer {
    width: 750px;
    margin-top: 30px;
}